# Ignorar node_modules en cualquier subcarpeta
**/node_modules/

# Ignorar otros archivos de compilación o distribución
**/dist/
**/build/

# Ignorar archivos de entorno
**/.env

# Ignorar logs
**/*.log

# Ignorar carpetas específicas del IDE
.vscode/
.idea/
